@font-face {
    font-family: 'ubu';
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}

:root {
    --gold-color: #957554;
    --orange-color: #DFAA5B;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'ubu';
}

/* header */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    font-size: 1.4rem;
}

header img {
    width: 128px;
}

header ul img {
    width: 1.4rem;
}

header nav {
    width: 60%;
    margin-top: 4%;
}

header ul {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

header li a {
    color: var(--gold-color);
}

/* hero section */

.hero {
    background: url(../img/hero_image.png) center/cover no-repeat;
    text-align: center;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.hero h2 {
    font-size: 4rem;
    font-weight: lighter;
}

.hero p {
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 16px 0 40px 0;
}

.hero a {
    color: white;
    font-size: 1.4rem;
    background-color: var(--orange-color);
    padding: 20px 104px;
    border-radius: 8px;
}

/* Facilities */

.faci {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin: 1% 0 4% 0;
    color: var(--gold-color);
}

.faci div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    width: 70%;
    row-gap: 20%;
    margin: 2%;
}

/* Rooms & Rates */

.roomshero {
    text-align: center;
    font-size: 1.5rem;
    color: var(--gold-color);
}

.roomsh2 {
    margin: 2%;
}

.rooms img {
    width: 100%;
}

.rooms {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    gap: 5%;
    margin: 0 2%;
    white-space: nowrap;
}

.rooms a {
    color: white;
    background-color: var(--orange-color);
    padding: 16px 40px;
    border-radius: 8px;
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    bottom: 10%;
    left: 20%;
    right: 20%;
}

figcaption h2 {
    margin-bottom: 10%;
}

.getroom {
    text-align: center;
    margin: 10%;
    color: var(--gold-color);
    font-size: 1.5rem;
}

.getroom h2 {
    margin: 2%;
}
.getroom a {
    color: white;
    background-color: var(--orange-color);
    padding: 16px 80px;
    border-radius: 8px;
    font-size: 1.4rem;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 5%;
    font-size: 1.2rem;
}

footer img {
    width: 128px;
}

.marg {
    margin-top: 20%;
}

footer a {
    color: white;
    line-height: 2;
}

form {
    margin: 2% 0;
}

input {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin: 2% 0;
    font-size: 1.2rem;
}

input[type=submit] {
    background-color: var(--orange-color);
    color: white;
    cursor: pointer;
}

/* hover effekte */

input[type=submit]:hover {
    background-color: var(--gold-color)
}

a:hover {
    background-color: var(--gold-color);
    animation: wobble-animation 1s cubic-bezier(0, 0, 1, 1) 0s 1 normal both running;
    }
    
    @keyframes wobble-animation {
        0% {
            transform: translate(0, 0);
        }
    
        15% {
            transform: translate(-5%, 0) rotate(-2deg);
        }
    
        30% {
            transform: translate(5%, 0) rotate(1deg);
        }
    
        45% {
            transform: translate(-2%, 0) rotate(-0.5deg);
        }
    
        60% {
            transform: translate(3%, 0) rotate(1deg);
        }
    
        75% {
            transform: translate(-2%, 0) rotate(-0.3deg);
        }
    
        100% {
            transform: translate(0, 0);
        }
    }

header a:hover {
    background-color: white;
}

.rooms img:hover {
    animation: heart-beat-animation 1.3s cubic-bezier(0, 0, 1, 1) 0s 1 normal both running;
}

@keyframes heart-beat-animation {
    0% {
        transform: scale(1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }

    14% {
        transform: scale(1.051);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }

    28% {
        transform: scale(1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }

    42% {
        transform: scale(1.051);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }

    70% {
        transform: scale(1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }

    100% {
        transform: scale(1);
        animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
    }

}

.faci img:hover {
    transform: scale(110%);
        animation: wobble-animation 1s cubic-bezier(0, 0, 1, 1) 0s 1 normal both running;
    }
    
    @keyframes wobble-animation {
        0% {
            transform: translate(0, 0);
        }
    
        15% {
            transform: translate(-25%, 0) rotate(-5deg);
        }
    
        30% {
            transform: translate(20%, 0) rotate(3deg);
        }
    
        45% {
            transform: translate(-15%, 0) rotate(-3deg);
        }
    
        60% {
            transform: translate(10%, 0) rotate(2deg);
        }
    
        75% {
            transform: translate(-5%, 0) rotate(-1deg);
        }
    
        100% {
            transform: translate(0, 0);
        }
    }


html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 900px) {

    .rooms {
        display: flex;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        height: 90vh;
        text-align: center;
    }

    header nav {
        width: 90%;
    }

    header ul {
        flex-direction: column;
        align-items: flex-end;
        line-height: 1.5;
        display: none;
    }

    header {
        flex-direction: row;
        align-items: center;
    }

    header img {
        width: 64px;
    }

    header nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
    }

    header ol li {
        width: 30px;
        height: 4px;
        background-color: var(--orange-color);
        margin: 2px;
        border-radius: 8px;
    }

    header ol:active + ul {
        display: flex;
    }

    .rooms {
        white-space: wrap;
    
    }

    .getroom h2 {
        margin-bottom: 10%;
    }

    .faci div {
        width: 90%;
    }
}